* {
    margin: 0;
    padding: 0;
}

html, body { 
    height: 100%;
    width: 100%;
}



.navbar_header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0 ;
    margin : 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #0F1E28, #1A2B3C, #A0DFF7);
    height: 100px;
    z-index: 1000;

}

.navbarHeader {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0 ;
    margin : 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #0F1E28, #1A2B3C, #A0DFF7);
    height: 100px;
    z-index: 1000;

}

.navbar_logo img{
    height: 100px;
    width: 100px;
    padding: 0 2vw;
}

.navbar_burger {
    height: 50px;
    width: 50px;
}


.imgburger {
    position: relative;
}

.bidule .cacher {
    display: none;
}
.cacher {
    background-image: url('img/menu_burger-512.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
}
.croix {
    background-image: url('img/delete-462216_1280.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
    position: absolute;
    right: 0;
}
.navbar_header .croix {
    display: none;
}

.navbar_header .titremenu{
    display: none;
}
.navbarHeader .croix {
    display: flex;
}

.navbarHeader .titremenu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 20px;
}

 .menuderoulant {
    height: 500px;
    width: 300px;
    background-color: #1A2B3C;
    position: relative;
    top: 250px;
    right: 50px;

}


@media screen and (max-width: 768px) {
    .navbar_header>.navbar_logo {
        margin: 0;
        padding: 0 3vw;
    }
}

@media screen and (max-width: 768px) {
    .navbar_burger {
        display: block;
        position: fixed;
        right: 2rem;
    }    
}

@media screen and (max-width: 768px) {
    .navbar_links {
        visibility: hidden;
    }
}

 .navbar_links {
    list-style-type: none; /* supprime les puces */ 
    margin: 0;
    padding: 0;
    display: flex; /* Utilise flexbox pour aligner les éléments */
    justify-content: right;
}

nav ul li {
    margin: 0;
    padding: 0;

}

nav ul li a {
    display: block;
    padding: 20px 20px; /* taille du bandeau */
    text-decoration: none;
    color: white;
    font-size: 15px;

}

nav ul li a img {
    height: 50px;
    width: 50px;
}
nav ul li a:hover {
    color: #A0DFF7; /* Couleur de fond au survol */
}

footer{
    margin-top: 32px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    color: white;
}